body {
  color: #054b5e;
}

input:focus,
button:focus {
  box-shadow: none !important;
}

.bg-img > .row {
  position: relative;
  color: #fff;
}

.bg-img {
  background-size: cover;
  position: relative;
}

.bg-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #000000, #00000040);
  opacity: 0.7;
}

/* City Search */

#city-search-form .form-control {
  border-radius: 1.2rem 0 0 1.2rem;
  font-size: 0.85rem;
  padding-left: 1rem;
  border: none;
}

#city-search-form .btn-link {
  background-color: #fff;
  padding: 0.2rem;
}

#city-search-form .btn-link:hover .icon--locate {
  opacity: 0.7;
}

#city-search-form .btn .icon--locate {
  opacity: 0.4;
  width: 1.1rem;
  margin-right: 0.5rem;
}

#city-search-form .btn-primary {
  border-radius: 0 1.2rem;
}

#city-search-form:after {
  /* continuos white input bg with funky primary button */
  content: "";
  background-color: #fff;
  height: 1rem;
  width: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#city-search-form .btn .icon--search {
  width: 1.1rem;
}

/* Box elements 

.box {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 1.35rem;
  padding: 1rem 1.5rem;
  color: #fff;
}*/

/* Weather current */

.temperature--value {
  font-size: 5.5rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.weather-description {
  font-weight: bold;
  margin-bottom: 0;
}
.weather-description:first-letter {
  text-transform: uppercase;
}

.weather-data-item {
  margin-right: 1rem;
}

.icon--humidity,
.icon--windspeed {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.icon--current {
  width: 11rem;
}

.temperature--unit {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

/* Footer creds */

.footer span {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

hr {
  width: 5rem;
  margin: 0.5rem auto;
}

/* 5 Day Forecast */

.forecast-item span {
  padding: 0 0.8rem;
}

.forecast-item span.temperature--icon {
  padding-right: 1.5rem;
}

.temperature--max {
  font-size: 2rem;
}

.temperature--min {
  font-size: 1.2rem;
  opacity: 0.6;
  border-right: 1px solid lightgray;
  padding-right: 0.5rem;
  margin-top: 0.3rem;
}

.icon--next {
  width: 4rem;
}
